.landing {
    display: inline-block;
    width: 100vw;
    height: 100vh;
    background-color: blue;
}

.portfolios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    justify-items: end;
    height: 100vh;
    background-color: rosybrown;
}
